body{
    padding: 0;
    margin: 0;
    background-color:#3d7dca;
    
}

div.top{
    width: 100%;
    height: 10px;
    background-color: #cc0000;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#cc0000;
    border-top: solid 5px white;
}

div.right{
    display: flex;
    justify-content: center;
    width: 15%;
    background-color: #ffcb05;
    border-right: solid 5px white;
}

div.left{
    display: flex;
    justify-content: left;
    width: 15%;
    background-color: #ffcb05;
    border-left: solid 5px white;
}


div.intro{
    background-color: white;
    display: flex;
    justify-content: center;
    background-color:#ffcb05;
    color: #3d7dca;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    font-family: 'Varela Round', sans-serif;
}
div.bot{    
    width: 100%;
    height: 10px;
    background-color: #cc0000;

}

button.new{
    height: 50px;
    background-color: #ffcb05;
    color: #3d7dca;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}


main{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(199px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
    

    
    
}

.picDivs{
    width: 100%;
}

.charDivs{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.card__face--front{
    background-color: white;
    
}
.card__face--back{
    background: #cc0000;
    transform: rotateY(180deg);
}
.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    border-radius: 5%;
}
.scene {
    width: 200px;
    height: 260px;
    border: 10px solid #ffcb05;
    margin: 40px 0;
    perspective: 600px;
    border-radius: 10%;

  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }

footer{
    background-color:#cc0000;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.feet{
width: 40%;
height: 30px;
background-color: #ffcb05;
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
border-radius: 25%;
font-family: 'Varela Round', sans-serif;
color:#3d7dca;
font-weight: bold;
border: solid 2px #3d7dca;

}
p.pokemon-name {
    color:#3d7dca;
    font-size: 2.1rem;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    
}
div.botline{
    width: 100%;
    background-color: #3d7dca;
    height: 5px;
    border-top: solid 5px #cc0000;
}
div.cool{
    margin-left:10%;
    margin-right:10%;
}
